.flowpane {
	-fx-background-color: C3FFF2;
}
.table{
	-fx-background-color: 8DD8D7;
}
.table-view .column-header{
	-fx-background-color: 8DD8D7;
}
.table-view .column-header .label{
	-fx-text-fill: #FFFFFF; 
}
.table-row-cell:odd{
	-fx-background-color: F6E4F4;
	-fx-text-fill: BLACK;
}
.table-row-cell:even{
	-fx-background-color: WHITE;
	-fx-text-fill: BLACK;
}
.table-row-cell:hover{
	-fx-background-color: D06FAB;
	-fx-text-fill: BLACK;
}
.table-row-cell:selected{
	-fx-background-color: 3ADEDB;
	-fx-text-fill: BLACK;
}
.context-menu{
	-fx-background-color: F6E4F4;
	-fx-text-fill: BLACK;
}
.menu-item:hover{
	-fx-background-color: 8DD8D7;
	-fx-text-fill: BLACK;
}